// Custom.scss
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// Your variable overrides
$body-bg: lightblue;
$body-color: black;

$primary: teal;
$danger: red;

@import "node_modules/bootstrap/scss/bootstrap";