@import "./custom";
@import "./variables";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f5f1e2;
}

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #d82a3a;
  align-content: center;
  align-items: center;
  background-image: url(/src/app/assets/line.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .logoheader {
    width: 40%;
    margin-top: 55px;
    min-width: 40vh;
  }

  .pokelist {
    text-align: center;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color: #ededed;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    color: black;
    font-family: "Press Start 2P", cursive;
    font-size: 15px;
    font-weight: bold;
    margin: 15px 0px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;

    &:hover {
      background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
      background-color: #dfdfdf;
    }
    &:active {
      position: relative;
      top: 1.5px;
    }
  }

  .pokefind {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
    margin-bottom: 45px;

    &__btnsrch {
      box-shadow: inset 0px 1px 0px 0px #ffffff;
      background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
      background-color: #ededed;
      border-radius: 6px;
      border: 1px solid #dcdcdc;
      cursor: pointer;
      color: black;
      font-family: "Press Start 2P", cursive;
      font-size: 15px;
      font-weight: bold;
      padding: 3px 20px;
      margin-bottom: 10px;
      margin-right: 5px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #ffffff;
    }
    &__btnsrch:hover {
      background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
      background-color: #dfdfdf;
    }
    &__btnsrch:active {
      position: relative;
      top: 1.5px;
    }
    input {
      size: 10px;
      text-align: center;
      font-family: "Press Start 2P", cursive;
      height: 30px;
      width: 250px;
      border-radius: 10px;
    }
  }
}
.main {
  height: calc(100% - 80px);
  display: flex;
  justify-content: space-around;

  .pokedex {
    background-image: url(/src/app/assets/pokedex.png);
    background-size: 100% 100%;
    background-color: inherit;
    width: 80%;
    height: 700px;
    margin: 15px 0px;
    position: absolute;

    .image {
      display: flex;
      text-align: center;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      font-size: 60%;
      width: 34%;
      height: 215px;
      background-color: #9caf3b;
      position: absolute;
      border-radius: 15px;
      bottom: 275px;
      left: 9%;
      border: black solid 3.5px;
      font-family: "Press Start 2P", cursive;
      background-image: url(/src/app/assets/line2.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .infoPokemon {
      display: flex;
      text-align: center;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      font-size: 10px;
      width: 41%;
      height: 170px;
      background-color: #9caf3b;
      position: absolute;
      border-radius: 15px;
      bottom: 335px;
      left: 56%;
      border: black solid 3.5px;
      font-family: "Press Start 2P", cursive;
      background-image: url(/src/app/assets/line2.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .ball {
      background-image: url(/src/app/assets/ball.png);
      border-radius: 50px;
      width: 10%;
      height: 10%;
      position: absolute;
      bottom: 130px;
      left: 86%;
      background-repeat: no-repeat;
      background-size: 100% 100%;

      &:active {
        bottom: 127.5px;
      }
    }
  }
}

.contpokelist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  list-style: none;
  align-items: center;
  padding: 0px;

  &__card {
    display: flex;
    text-align: center;
    align-items: center;
    width: 350px;
    height: 200px;
    margin: 30px;
    font-family: "Press Start 2P", cursive;
    background-color: #356abc;
    border-radius: 10px;
    -webkit-box-shadow: 0px 6px 30px 6px rgba(0, 0, 0, 0.73);
    box-shadow: 0px 6px 30px 6px rgba(0, 0, 0, 0.73);
    background-image: url(/src/app/assets/line.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    line-height: 50px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-transform: uppercase;
  }
}

.divInsideMainClass {
  background-image: url(/src/app/assets/superPokedex.png);
  border: black solid 3px;
  width: 100%;
  height: 700px;
  background-size: 100% 100%;
}
.battlefieldClass {
  position: absolute;
  background-image: url(/src/app/assets/fieldPokemon.png);
  background-size: 100% 100%;
  width: 62%;
  height: 570px;
  margin-left: 1.2%;
  margin-top: 17px;
  border: black solid 3px;
}
.class-pokemon {
  position: absolute;
  width: 120px;
  height: 120px;
  transition: all 0.3s;
}
.signPointsClass {
  display: flex;
  position: absolute;
  width: 25%;
  height: 219px;
  left: 72.1%;
  margin-top: 38px;
  border: black solid 3px;
  border-radius: 10px;
  background: #78872e;
  background: -moz-radial-gradient(
    center,
    #78872e 0%,
    #7b8a2e 50%,
    #2e3311 100%
  );
  background: -webkit-radial-gradient(
    center,
    #78872e 0%,
    #7b8a2e 50%,
    #2e3311 100%
  );
  background: radial-gradient(
    ellipse at center,
    #78872e 0%,
    #7b8a2e 50%,
    #2e3311 100%
  );
  font-family: "Press Start 2P", cursive;
  font-size: 65%;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}
.panelPointsClass {
  display: flex;
  margin-left: 5px;
}
.panelTimeClass {
  display: flex;
  margin-left: 5px;
}

.pokeball {
  background-image: url(/src/app/assets/ball.png);
  width: 90px;
  height: 90px;
}
